{{ header }}

	{{ column_left }}

<div id="content">
  <div class="page-header">

    <div class="alert alert-primary">
      <b>{{ alerts }}</b>
    </div>

    <div class="container-fluid">
      
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      
      <h1>{{ heading_title }}</h1>

      <ul class="breadcrumb">
	  {% for breadcrumb in $breadcrumbs %}
          <li><a href="{{breadcrumb.href|e}}">{{ breadcrumb.text|e}}</a></li>
	  {% endfor %}
      </ul>

    </div>
  </div>

  <div class="col-md-12 text-center" style="margin-bottom: 30px;">
    <img src="http://plugg.to/wp-content/uploads/2015/10/PluggTo-Header-Logo-Verde.png" alt="" /> 
  </div>

  {% if access_status is not empty %}
    <h3>{{ access_status }}</h3>
  {% endif %}

    <div class="col-md-12" style="width: 97%; 'margin-left: 20px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-pencil"></i> Queue
          </h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>ID</th>
                <th>Resource ID</th>
                <th>Type</th>
                <th>Action</th>
                <th>Date Created</th>
                <th>Status</th>
                <th>Ações</th>
              </thead>
              <tbody>
			  {% if queues.rows is not empty %}
                  {% for item in queues.rows %}
                    <tr>
                      <td>{{item.id|e}}</td>
                      <td>{{item.resource_id|e}}</td>
                      <td>{{item.type|e}}</td>
                      <td>{{item.action|e}}</td>
                      <td>{{item.date_created|e}}</td>
                      <td>{{item.status|e}}</td>
                      <td><a href="javascript:showLog('{{item.id|e}}');" class="btn btn-info">Detalhes</a></td>
                    </tr>
					{% endfor %}
   			 {% else %}
                  <tr>
                    <td colspan="7" align="center" style="padding-top: 25px;"><h1>Nenhum item a ser processado.</h1></td>
                  </tr>
		     {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
 </div>
</div>